<div class="container-fluid">

    <div class="card">
        <div class="card-body">

            <!-- ================= HEADER ================= -->
            <div class=" d-md-flex justify-content-between align-items-center">
                <div>
                    <h4 class="card-title">Products Performance</h4>
                    <p class="card-subtitle">All product attributes</p>
                </div>

                <div class="align-items-center mt-3 mt-md-0 d-flex gap-2">

                    <!-- Create -->
                    <div>
                        <button style="width: 140px;" class="btn btn-success" (click)="openCreate()">
                            + New Product
                        </button>
                    </div>


                    <!-- Search -->
                    <input type="text" class="form-control" placeholder="Search name..." [(ngModel)]="searchText"
                        (input)="loadProducts()" />

                    <!-- Category -->
                    <input type="text" class="form-control" placeholder="Category" [(ngModel)]="category"
                        (change)="loadProducts()" />

                    <!-- Stock -->
                    <select class="form-select" [(ngModel)]="status" (change)="loadProducts()">
                        <option value="">All</option>
                        <option value="in">In stock</option>
                        <option value="out">Out of stock</option>
                    </select>

                    <!-- Promoted -->
                    <div class="form-check ms-2">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="promoted" (change)="loadProducts()"
                            id="promo" />
                        <label class="form-check-label" for="promo">
                            Promoted
                        </label>
                    </div>

                </div>
            </div>

            <!-- ================= TABLE ================= -->
            <div class="table-responsive mt-4">
                <table class="table mb-0 text-nowrap varient-table align-middle fs-3">
                    <!-- ========== TABLE HEAD ========== -->
                    <thead>
                        <tr>
                            <th class="px-0 text-muted">ID</th>
                            <th class="px-0 text-muted">Image</th>
                            <th class="px-0 text-muted">Name</th>
                            <th class="px-0 text-muted">Description</th>
                            <th class="px-0 text-muted">Category</th>
                            <th class="px-0 text-muted center-text">Quantity</th>
                            <th class="px-0 text-muted center-text">Discount (%)</th>
                            <th class="px-0 text-muted">Created At</th>
                            <th class="px-0 text-muted">Status</th>
                            <th class="px-0 text-muted text-end center-text">Price</th>
                            <th class="px-0 text-muted text-end">Actions</th>
                        </tr>
                    </thead> <!-- ========== TABLE BODY ========== -->
                    <tbody> @for (p of products | async; track p ) { <tr>
                            <td class="px-0">{{ p.id }}</td>
                            <td class="px-0"> <img [src]="p.image" width="60" class="rounded" /> </td>
                            <td class="px-0 fw-bolder">{{ p.name }}</td>
                            <td class="px-0 text-muted">{{ p.description }}</td>
                            <td class="px-0">{{ p.category }}</td>
                            <td class="px-0 center-text">{{ p.quantity }}</td>
                            <td class="px-0 center-text">{{ p.discount }}%</td>
                            <td class="px-0"> {{ p.createdAt | date:'dd-MM-yyyy HH:mm' }} </td>
                            <td class="px-0">
                                <span *ngIf="p.quantity > 0" style="font-size: 100%" class="badge bg-success"> In Stock
                                </span>
                                <span *ngIf="p.quantity === 0" style="font-size: 100%" class="badge bg-danger"> Out of
                                    Stock </span>
                            </td>
                            <td class="px-0 text-end fw-medium center-text"> ${{ p.price }} </td>
                            <td class="px-0 text-end"> <button class="btn btn-sm btn-primary me-2"
                                    (click)="openEdit(p)"> Edit </button>
                                <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.docId)"> Delete </button>
                            </td>
                        </tr> } <!-- Empty state -->
                        <tr *ngIf="(products | async)?.length === 0">
                            <td colspan="9" class="text-center text-muted py-4"> No products found </td>
                        </tr>
                    </tbody>
                </table>


                <app-product-form *ngIf="showForm" [product]="selectedProduct" (saved)="loadProducts();"
                    (cancelled)="closeForm()">
                </app-product-form>

            </div>

        </div>
    </div>

</div>